Hello, my name is <span class="name">Anton Zaytsev</span><br/>
I do web development, and I love it!<br/><br/>
Please feel free to contact with me<br/>
via <a g0="antonzaytsev" g10=".com" g1="@" g3="inf" g9="o" href="mailto:" class="email">email</a>,
<a href="skypeto:antonzaycev">skype</a>, <a href="http://twitter.com/antonzaycev" target='_blank'>twitter</a>
or <a href='http://github.com/anton-zaytsev' target='_blank'>github</a>.
<br/>
<a href="http://blog.antonzaytsev.com" target="_blank">Here you can check out my blog in russian</a>.