Привет, меня зовут <span class="name">Антон Зайцев</span>
<br>
Я занимаюсь веб-разработкой
<br>
и я люблю свое дело.
<br>
<br>
Вы можете связаться со мной <br>
с помощью <a g0="antonzaytsev" g10=".com" g1="@" g3="info" g9="" href="mailto:info@antonzaytsev.com" class="email">email</a>,
<a href="skypeto:antonzaycev">skype</a>
или
<a href="http://twitter.com/antonzaycev" target="_blank">twitter</a>.
<br>
Так же вы можете посетить <a href="http://blog.antonzaytsev.com" target="_blank">мой блог</a>.
