@import url(http://fonts.googleapis.com/css?family=Neucha&subset=latin,cyrillic);

html, body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}

body{
  background: #fff;
  color: #EEE;
  font-size: 12px;
  line-height:1.2;
  font-family: "Lucida Sans", Helvetica, Arial, sans-serif;
}

a{
  border-bottom: 1px dashed #006699;
  color: #fff;
  text-decoration: none;
}
a:hover{
    color:#ccc;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    font-weight:normal;
    margin:0 0 15px 0;
}
h1{}
h2{}
h3{
    font-size:26px;
}

p{
    margin:0 0 10px 0;
}

header, footer, section, nav, aside{display:block;}

header{
  background: url("../img/backgroundTop.png") repeat-x scroll 0 0 transparent;
}
header .inner{
  margin: 0 auto;
  padding: 0;
}
header a{
  color: #000000;
  border: none;
  text-decoration: none;
  -webkit-transition: color .2s;
  -moz-transition: color .2s;
  transition: color .2s;
}

#main-text{
  color: #000000;
  font-family: 'Neucha', cursive;
  font-size: 28px;
  text-shadow: 1px 1px #FFFFFF;
  position: absolute;
  top: 50%;
  margin-top: -82px;
  right: 30px;
  text-align: right;
  letter-spacing: 2px;
  line-height: 1.1;
}
#main-text .name{
  color: #66CCFF;
}

#page{
  position:relative;
  z-index:1;
  height: 100%;
}

footer{
  
}
section{}
section .inner{
  background-color: #66CCFF;
  height: 335px;;
  width: 960px;
  margin:0 auto;
  position: relative;
}
section .corner{
  background: url("../img/corner.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 111px;
  left: -12px;
  position: absolute;
  top: -1px;
  width: 96px;
}
section .mainblock{
}

section .column{
  color: #FFFFFF;
  float: left;
  height: 258px;
  line-height: 1.4em;
  margin: 0 0 0 45px;
  padding-top: 50px;
  text-shadow: 0 -1px 0 #4FB2E4;
  width: 239px;
}

section .column.first{
  background: url("../img/dottedArrow-left.png") no-repeat scroll 100% 28px transparent;
  margin-left: 50px;
}

section .mainblock h2{
  height: 49px;
  margin: -18px 0 25px -10px;
  overflow: hidden;
  text-indent: 78px;
  white-space: nowrap;
  width: 78px;
}

section .mainblock h2.about{
  background: url("../img/headlineAbout.png") no-repeat scroll 0 0 transparent;
  height: 49px;
  text-indent: -9999px;
  width: 78px;
}
section .mainblock h2.skills{
  background: url("../img/headlineSkills.png") no-repeat scroll 0 0 transparent;
  height: 49px;
  text-indent: -9999px;
  width: 78px;
}
section .mainblock h2.work{
  background: url("../img/headlineWork.png") no-repeat scroll 0 0 transparent;
  height: 49px;
  text-indent: -9999px;
  width: 78px;
}
section .column.second{
  background: url("../img/dottedArrow-right.png") no-repeat scroll 100% 28px transparent;
}

section .column.third{}

.dark {
  color: #006699;
  text-shadow: 0 1px 0 #B1E5FF;
}

#background{
  position:absolute;
  top:0;
  left:0;
  z-index:0;
}
#background img{
  width:100%;
  height:100%;
  display: none;
  position: fixed;
}